#PCSHOP_head {

	
	margin: 1% 0 1% 5%;
}

#link_head {
	
	width: 55%;
}

.searchForm  {
	width:85%;
}




.searchForm input {

	width:60%;
}

.main_body {	
	margin-top: 20vh;
	width: 92%;
	margin-bottom: 5%;
	min-height:400px;
}

.btton_search {

	width : 25%;
}

.login_form {

	text-align:center;
	background: white;

	margin : 0 15%;
	padding: 3% 2% 12% 2%;
}

.register_form {

	
	margin : 0 6%;
	padding: 1% 0 8% 0;
	margin-bottom: 10%;
}

.product_thumb{
width:auto;
padding: 2%;
}

.filterForm {
	width :90%;
}

.accordion_ap {
	width:70%;
}

.products_filtered {
	width: 90%;
	margin-top: 2%;
}

.btton_filter {
	width: 40%;
}

#arrow_menu {
	display: inherit;
	height: 30px;
	width: 30px;
	margin: 2% 0;
}

.main_div {
	margin-left: auto;
	margin-right: auto;
	width : 90%;
}

.sixty{
	width: 96%;
	float: inherit;
	margin-left: 2%;
}

.basketTotal{
	
	width: 96%;
	float: inherit;
	margin-left: 2%;
	margin-top: 5%;
}

#link_head {
	top:0;
	height: 95%;
}

.Address_info{
	width:90%;
	display:inline-block;
	margin: 2%;
}

.Account-details{
	width:90%;
	display:inline-block;
	margin: 2%;
	
}

.personal_info{
	width:90%;
	display:inline-block;
	margin: 2%;
}

.head_link {
	text-decoration: none;
	padding: 0.8% 5%;
	display: block;
}

.snd_head {
	width : auto;
	margin-left: 0;
	
}

.arrow_drop, .arrow_drop_h {
	display: inherit;
}

.arrow_drop_h:hover {
	background-color: white;
	cursor: pointer;
}

.arrow_drop {
	height: 10px;
	width: 15px;
	margin-left: auto;
	margin-right: auto;
}

.accordion_menu {
      

    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion_menu.active, button.accordion_menu:hover {
    
}

/* Style the accordion panel. Note: hidden by default */
.panel_menu {
     padding: 0 18px;
    
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

footer {

	width:100%;
	margin-top :2%;
	background-color: #efefef;
	background-color: rgb(42,81,79);
	color: white;
	text-align:center;
	padding-bottom:1%;
}
.footer_div a, .footer_div p {
	font-size: 12px;
}
.footer_div div {
	padding: 0;
	display:inline-block;
	margin: 0;
	margin-top: 4%;
	width: 32%;
}

.footer_div1 {

	border-right: 0px white solid;
}

.footer_div2 {

	width: 33%;
}

.footer_div3 {

	border-left: 0px white solid;
}