#PCSHOP_head {

	
	margin: 1% 0 1% 5%;
}

#link_head {
	
	width: 55%;
}

.searchForm  {
	width:85%;
}

.snd_head {
	width : auto;
	margin-left: 2.5%;
	margin-right: 2.5%;
}


.searchForm input {

	width:60%;
}

.main_body {	
	margin-top: 30vh;
	width: 92%;
	margin-bottom: 5%;	
}

.btton_search {

	width : 25%;
}

.login_form {

	text-align:center;
	background: white;

	margin : 0 15%;
	padding: 3% 2% 12% 2%;
}

.register_form {

	
	margin : 0 6%;
	padding: 1% 0 8% 0;
	margin-bottom: 10%;
}