body {
	width:99%;
	height:100%;
	background-color: white;
	margin:0;
	padding:0;
	font-size:16px;
	line-height:1.5;
	font-family: 'Raleway';

}


header {
	
	background-color: rgb(42,81,79);
	width:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:2;


} 

#PCSHOP_head {
	
	color: white;
	font-size: 35px;
	margin: 1% 0 1% 15%;
}

#PCSHOP {
	
	text-align: center;
	color: white;
	margin-bottom: 5%;
	font-size: 250%;
}

.link_head {

	color: white;
	text-decoration: none;
	padding: 0 4%;
	font-size: 12px;
	
}

#link_head {
	top:1%;
	right: 0;
	position: absolute;
	width: 50%;
	height: 90%;
	/*border: 1px white solid; */
	text-align: right;
}

.searchForm  {
	
	/*border: 1px red solid;*/
	bottom: 0;
	position: absolute;
	
}

.btton_search {
	
	background-color: rgb(34,102,92);
	color: white;
	box-shadow:0;
	border:0px;
	line-height: 1.5;
	margin-left: -1;

}

.login_form {
	
	text-align:center;
	background: white;
	width : 20%;
	margin-left : 40%;
	padding: 0 1% 4% 1%;
	border-radius: 10px;
	color: rgb(42,81,79);
}

.login_form input[type=text] {

	width:95%;
	background-color: rgb(42,81,79);
	border-radius: 6px;
	border:0px;
	font-size:16px;
	padding:1px;
}



.btton_co {
	
	background-color: rgb(42,81,79);
	width: 35%;
	padding: 2%;
	border-radius: 10px;
	color: white;
	box-shadow:0;
	border:0px;

	
}

.link_co {
	
	background-color: rgb(42,81,79);
	width: 40%;
	padding: 2%;
	border-radius: 10px;
	color: white;
	text-decoration:none;
	
}